<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Monitors</string>
	<string>Old Hardware</string>
	<string>Old Retail</string>
	<string>Cords</string>
	<string>PSU / Heatsink</string>
	<string>Retail</string>
	<string>Business Item</string>
	<string>Unpriced</string>
	<string>Other</string>
</array>
</plist>
